.call-order {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;

  &-active {
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    background-color: $bgColor1;
    width: 320px;
    height: 100%;
    padding-top: 24px;
    box-shadow: 16px 0px 52px 0px #0e185033, -2px 0px 4px 0px #454f7e05;
    box-sizing: border-box;

    @media (min-width: 768px) {
      border-left: $btnBorder solid 1px;
      width: 440px;
      padding-top: 12px;
    }

    & button:first-child {
      margin-left: 16px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0 16px;
      box-sizing: border-box;
      position: relative;

      @media (min-width: 768px) {
        padding: 0 32px;
      }

      &__text {
        color: $otherText;
        font-size: 14px;
        line-height: 16px;
        margin: 0;
      }
    }
  }
}

input[type='number'] {
  height: 48px;
  border-radius: 7px;
  border: #eaeaea 1px solid;
  box-sizing: border-box;
  font-family: TT Lakes;
}

::placeholder {
  color: #b5b6bc;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: -0.20000000298023224px;
  padding-left: 16px;
  padding-top: 12px;
}
