.burger-icon {
  background-image: url('/src/icons/burger.svg');
}

.call-icon {
  background-image: url('/src/icons/call.svg');
}

.chat-icon {
  background-image: url('/src/icons/chat.svg');
}

.profile-icon {
  background-image: url('/src/icons/profile.svg');
}

.repair-icon {
  background-image: url('/src/icons/repair.svg');
}

.checkstatus-icon {
  background-image: url('/src/icons/checkstatus.svg');
}

.close-icon {
  background-image: url('/src/icons/close.svg');
}

.search-icon {
  background-image: url('/src/icons/search.svg');
}

.lenovo {
  width: 108px;
  height: 32px;
}

.samsung {
  width: 116px;
  height: 39px;
}

.apple {
  width: 44px;
  height: 44px;
}

.viewsonic {
  width: 128px;
  height: 21px;
}

.bosch {
  width: 128px;
  height: 29px;
}

.hp {
  width: 52px;
  height: 52px;
}

.acer {
  width: 94px;
  height: 24px;
}

.sony {
  width: 128px;
  height: 26px;
}
