.main-page {
  &__content {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 25px;
    box-sizing: border-box;
  }

  &__text {
    display: inline-block;
    margin: 0;
    margin-left: 16px;
    height: 90px;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (min-width: 768px) {
      height: 160px;
      line-height: 20px;
      margin: 0 48px 0 24px;
    }

    @media (min-width: 1120px) {
      height: auto;
      margin: 0 36px 0 34px;
    }

    &_active {
      overflow: visible;
      height: auto;
    }
  }

  &__info {
    display: flex;
    margin: 0;
    padding-right: 16px;

    &:first-of-type {
      margin-bottom: 20px;
    }

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  &__img {
    margin-top: 16px;

    @media (min-width: 768px) {
      border-radius: 5px;
      margin: 0;
    }

    @media (min-width: 1120px) {
      margin: 0;
      margin-right: 29px;
    }
  }
}
