.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__burger,
  &__contacts,
  &__repair {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
  }

  &__burger {
    margin-left: 16px;

    @media (min-width: 768px) {
      gap: 43px;
      margin-left: 24px;
    }
  }

  &__contacts {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      margin-left: auto;
      margin-right: 40px;
    }
  }

  &__repair {
    position: relative;

    & li:last-child {
      margin-right: 16px;

      @media (min-width: 768px) {
        margin-right: 24px;
      }
    }

    &::before {
      content: '';
      width: 2px;
      height: 32px;
      margin-top: 4px;
      border-radius: 1px;
      position: absolute;
      left: -20px;
      background-color: $borderColor;
    }
  }

  &__logo {
    &::before {
      @media (min-width: 768px) {
        content: '';
        width: 2px;
        height: 32px;
        background-color: $borderColor;
        margin-top: 9px;
        border-radius: 1px;
        position: absolute;
        left: 84px;
      }
    }
  }
}
