html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: TT Lakes, Arial, sans-serif;
  background-color: $backgroundColorGrey;
}

button {
  display: flex;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 88px;
  margin: 0;
  margin-bottom: auto;
  box-sizing: border-box;
  background-color: $backgroundColorWhite;
  border-bottom: $borderTopColor 1px solid;

  @media (min-width: 1120px) {
    display: none;
  }
}

main {
  margin: 0;
  background-color: $backgroundColorGrey;

  @media (min-width: 1120px) {
    margin: 0;
    margin-left: 320px;
  }
}

label {
  cursor: pointer;
}
