$backgroundColorWhite: #ffffff;
$backgroundColorGrey: #f8f8f8;
$formBackgroundColor: rgba(255, 255, 255, 0.9);
$buttonColor: #ff3e79;
$buttonHovColor: #ff3e783b;
$buttonBorder: #b8ffec;
$borderColor: #eaeaea;
$borderTopColor: #d9fff5;
$textBeforeColor: #41f6d7;
$mainText: #1b1c21;
$otherText: #7e7e82;
$placeholderColor: #b5b6bc;
$paginationBulletColor: #dddddd;

$fontSize: 16px;
$lineHeight: 24px;
$buttonWidth: 40px;
$buttonHeight: 40px;
