$bgColor1: #ffffff;
$bgColor2: #f8f8f8;
$buttonColor: #ff3e79;
$btnHovColor: #ff3e783b;
$btnBorder: #b8ffec;
$beforeColor: #41f6d7;
$mainText: #1b1c21;
$otherText: #7e7e82;

$fontSize: 16px;
$lineHeight: 24px;
$btnWidth: 40px;
$btnHeight: 40px;
